@import "../../../../../variables.scss";

.entire-blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 5px solid red;
  height: 80vh;
  width: 100%;
  font-family: $main-font;
}

.blog-divider {
  border: 0.2px solid lightgray;
  width: 100%;
}

.blog-info-container {
  //   border: 5px solid blue;
  width: 60%;
  margin-bottom: 10%;
}

.blog-header {
  font-size: 44px;
  margin-top: 72px;
  margin-bottom: 72px;
  font-weight: bold;
}

.blog-paragraph {
  font-size: 28px;
  margin-top: 32px;
  line-height: 1.5;
  text-align: left;
}

.blog-paragraph-div {
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
}

.about-lua-mailto {
  text-decoration: none;
  color: $main;
}

.blog-paragraph-header {
  font-size: 28px;
  margin-top: 52px;
  line-height: 1.5;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .entire-blog-page {
    height: 60%;
    display: flex;
    flex-direction: column;
  }
  .blog-header {
    font-size: 42px;
    margin-top: 72px;
    margin-bottom: 52px;
  }
  .blog-paragraph-header {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 52px;
    margin-left: 5%;
  }
  .blog-paragraph-div {
    // border: 5px solid red;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  }
  .blog-info-container {
    // border: 5px solid blue;
    width: 80%;
  }
}
