// global variables
$main: #9a33fe;
$accent: #9a33fe;
$text-hover: 0.6;
$nav-font-size: 18px;
$main-font: "Quicksand";
$font: "Quicksand", sans-serif;
$lato: "Lato", sans-serif;
$lato: "Lato";
$montserrat: "Montserrat";
$nunito: "Nunito";
$nav-background: white;

.typical-link {
  text-decoration: none;
  color: $main;
}
