@import "../../../variables.scss";

.entire-job-board-display-page {
  font-family: $main-font;
}

// DESKTOP
@media only screen and (min-width: 800px) {
  .entire-job-board-display-page {
    margin-top: 172px;
  }
  .job-board-title {
    font-size: 44px;
  }
  .job-board-tagline {
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 28px;
  }
  .job-board-coming-soon {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 52px;
    line-height: 1.5;
  }
  .job-board-coming-soon-signup {
    text-decoration: none;
    color: $main;
    font-weight: bold;
  }
}

// MOBILE
@media only screen and (max-width: 800px) {
  .entire-job-board-display-page {
    margin-top: 56px;
  }
  .job-board-title {
    font-size: 42px;
  }
  .job-board-tagline {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 28px;
  }
  .job-board-coming-soon {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 52px;
    line-height: 1.5;
  }
  .job-board-coming-soon-signup {
    text-decoration: none;
    color: $main;
    font-weight: bold;
  }
}
