@import "../../../variables.scss";

.entire-contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 5px solid red;
  // height: 80vh;
  width: 100%;
  font-family: $main-font;
}

.contact-info-container {
  //   border: 5px solid blue;
  width: 30%;
}

.contact-us-header {
  font-size: 44px;
  margin-top: 72px;
  margin-bottom: 72px;
  font-weight: bold;
}

.get-in-touch-paragraph {
  font-size: 28px;
  line-height: 1.5;
}

.contact-snippet-div {
  font-size: 22px;
}

.contact-page-mailto {
  text-decoration: none;
  color: $main;
}

@media only screen and (max-width: 800px) {
  .entire-contact-page {
    height: 60%;
    display: flex;
    flex-direction: column;
  }
  .contact-us-header {
    font-size: 42px;
    margin-top: 72px;
    margin-bottom: 52px;
  }
  .get-in-touch-paragraph {
    font-size: 22px;
    line-height: 1.5;
  }
  .contact-snippet-div {
    // border: 5px solid red;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    // width: 100%;
    display: flex;
    align-items: center;
    line-height: 1.5;
  }
  .contact-info-container {
    //   border: 5px solid blue;
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .entire-contact-page {
    margin-top: 172px;
  }
}

// // DOTS!
// .dots {
//   width: 3em;
//   height: 3em;
//   display: grid;
//   grid-template-rows: repeat(3, 1fr);
//   grid-template-columns: repeat(3, 1fr);
//   justify-items: center;
//   align-items: center;
// }

// .dots > div {
//   width: 0.5em;
//   height: 0.5em;
//   background-color: #3cefff;
//   border-radius: 50%;
//   animation: fade 1.5s alternate ease-in-out infinite;
// }

// .dots > div:nth-of-type(2),
// .dots > div:nth-of-type(4) {
//   animation-delay: 0.25s;
// }

// .dots > div:nth-of-type(3),
// .dots > div:nth-of-type(5),
// .dots > div:nth-of-type(7) {
//   animation-delay: 0.5s;
// }

// .dots > div:nth-of-type(6),
// .dots > div:nth-of-type(8) {
//   animation-delay: 0.75s;
// }

// .dots > div:nth-of-type(9) {
//   animation-delay: 1s;
// }

// @keyframes fade {
//   to {
//     opacity: 0.2;
//   }
// }

// .balls {
//   width: 3.5em;
//   display: flex;
//   flex-flow: row nowrap;
//   align-items: center;
//   justify-content: space-between;
// }

// .balls-div {
//   display: flex;
//   justify-content: center;
//   margin-top: 22px;
//   // border: 1px solid red;
// }

// .balls div {
//   width: 0.8em;
//   height: 0.8em;
//   border-radius: 50%;
//   background-color: $accent;
//   transform: translateY(-100%);
//   animation: wave 0.8s ease-in-out alternate infinite;
//   perspective: 120px;
// }

// .balls div:nth-of-type(1) {
//   animation-delay: -0.4s;
// }

// .balls div:nth-of-type(2) {
//   animation-delay: -0.2s;
// }

// @keyframes wave {
//   from {
//     transform: translateY(-100%);
//   }
//   to {
//     transform: translateY(100%);
//   }
// }
