@import "../../../variables.scss";

// nav only
$nav-background: white;
$nav-font-size: 18px;
$font: "Quicksand", sans-serif;

.navbar {
  font-family: $main-font;
  text-decoration: none;
  //   border: 2px solid royalblue;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

// HAMBURGER
.hamburger {
  // border: 1px solid plum;
  display: none;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

.nav-home-text {
  text-decoration: none;
  color: black;
}

.nav-job-board-text {
  text-decoration: none;
  color: black;
}

.newsletter-navbar-a-href {
  text-decoration: none;
  background-color: $main;
  color: white;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 15px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 28px;
  opacity: 1;
  transition: 0.3s;
}

.newsletter-navbar-a-href:hover {
  opacity: $text-hover;
}

.navbar {
  // border: $border-test-red;
  background-color: $nav-background;
  //   margin-bottom: 5%;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 5px #efefef;
}

.nav-left-side {
  //   border: 1px solid green;
  align-items: center;
  width: 35%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.nav-about-lua-paragraph {
  margin-left: 5%;
  text-decoration: none;
  color: black;
}

// LOGO IMG
.nav-logo {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 180px;
  height: 90px;
  margin-bottom: 1%;
}

.nav-right-side {
  // border: 1px solid red;
  height: 90%;
  text-decoration: none;
  width: 48%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// MOBILE STUFF
@media (max-width: 1080px) {
  .navbar {
    display: none;
  }

  .nav-right-side {
    display: none;
  }
  .nav-left-side {
    display: none;
  }
  .hammy-logo {
    display: none;
  }
}

/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE
/// SPACE

// .nav-brands {
//   // border: $border-test-blue;
//   display: flex;
//   width: 20%;
//   justify-content: center;
//   // margin-right: 50px;
//   font-family: "Quicksand", sans-serif;
//   font-size: $nav-font-size;
// }

// .nav-brands:hover {
//   opacity: $text-hover;
// }

// .nav-influencer {
//   // border: $border-test-blue;
//   width: 30%;
//   display: flex;
//   justify-content: flex-start;
//   margin-right: 50px;
//   font-family: "Quicksand", sans-serif;
//   font-size: $nav-font-size;
//   text-decoration: none;

// }

// .nav-learn {
//   margin-left: 7%;
//   text-decoration: none;
// }

// .nav-influencer:hover {
//   opacity: $text-hover;
// }

// .nav-login {
//   //   border: $border-test-blue;
//   display: flex;
//   width: 75%;
//   justify-content: flex-end;
//   margin-right: 50px;
//   font-family: "Quicksand", sans-serif;
//   font-size: $nav-font-size;
//   text-decoration: none;
// }

// .nav-login:hover {
//   opacity: $text-hover;
// }

// .nav-login:focus {
//   outline: none;
// }

// COMMENTED OUT STARTING HERE

// .nav-sign-up {
//   //   border: $border-test-blue;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 130px;
//   width: 45%;
//   border-radius: 45px;
//   background-color: $accent;
//   color: white;
//   font-size: 17px;
//   margin-top: 30px;
//   padding-top: 12px;
//   padding-bottom: 12px;
//   padding-right: 10px;
//   padding-left: 15px;
//   font-family: "Quicksand", sans-serif;
//   letter-spacing: 2px;
//   margin-bottom: 28px;
//   opacity: 1;
//   transition: 0.3s;
//   text-decoration: none;
// }

// .nav-sign-up:hover {
//   //   background-color: #afeeee;
//   opacity: 0.5;
//   color: black;
// }

// .nav-sign-up:focus {
//   outline: none;
// }

// .sign-up-span {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
