@import "../../../variables.scss";

.entire-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}

.footer {
  // border: 1px solid red;
  margin-top: 10%;
  font-family: $main-font;
  // background: black;
  // background: #414a4c;
  background: $main;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
  position: relative;
  bottom: 0;
}

.footer-left {
  // border: 1px solid blue;
  width: 33%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer-far-left {
  //   border: 1px solid red;
  width: 33%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer-logo {
  max-width: 8vw;
  max-height: 10vh;
  min-height: 4vh;
  //   display: flex;
}

.logo-footer {
  //   border: 1px solid red;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-middle {
  display: none;
  //   border: 3px solid orange;
  height: 80%;
  width: 23%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-left-header {
  // border: 1px solid orange;
  display: flex;
  justify-content: center;
  font-size: 26px;
  position: relative;
  //   left: 8%;
  width: 100%;
  //   height: 30%;
}

.footer-far-left-header {
  // border: 1px solid orange;
  display: flex;
  justify-content: center;
  font-size: 26px;
  position: relative;
  left: 8%;
  width: 90%;
  //   height: 30%;
  //   align-items: center;
}

.footer-left-content {
  // border: 1px solid orange;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  margin-top: 3%;
}

.footer-far-left-content {
  // border: 1px solid orange;
  // position: relative;
  // margin-top: 3%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  // align-items: center;
  // font-size: 16px;
  // font-weight: bold;
  // starts here
  padding-top: 4.5%;
  // border: 1px solid orange;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  margin-top: 3%;
}

.footer-far-left-paragraph {
  text-decoration: none;
  color: white;
}

// .copyright {
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: auto;
//   color: lightgrey;
//   margin-top: 18px;
// }

.footer-right {
  //   border: 1px solid green;
  width: 33%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.facebook-footer {
  // border: 1px solid red;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
  min-width: 25%;
  max-width: 25%;
}

.insta-footer {
  // border: 1px solid red;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
  min-width: 25%;
  max-width: 25%;
}

.twitter-footer {
  // border: 1px solid red;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
  min-width: 25%;
  max-width: 25%;
}

.fb-logo {
  max-width: 5vw;
  max-height: 5vh;
}

.facebook-word {
  margin-left: 12%;
}

.instagram-a-href {
  text-decoration: none;
  color: white;
}

.twitter-a-href {
  text-decoration: none;
  color: white;
}

.facebook-a-href {
  text-decoration: none;
  color: white;
}

.insta-logo {
  max-width: 5vw;
  max-height: 5vh;
}

.insta-word {
  margin-left: 12%;
}

.twitter-logo {
  max-width: 5vw;
  max-height: 5vh;
}

.twitter-word {
  margin-left: 12%;
}

.footer-social-icons {
  // border: 1px solid blue;
  //   height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left {
    // border: 1px solid red;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .footer-far-left {
    // border: 1px solid red;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .footer-left-header {
    left: 0%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    font-size: 34px;
  }
  .footer-far-left-header {
    left: 0%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }
  .footer-left-content {
    // border: 1px solid orange;
    position: relative;
    left: 0%;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
  }
  .footer-far-left-content {
    // border: 1px solid red;
    width: 90%;
    margin-bottom: 3%;
    font-size: 18px;
  }
  .footer-middle {
    // border: 1px solid red;
    width: 90%;
  }
  .footer-right {
    // border: 1px solid red;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .footer-social-icons {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    min-width: 36vw;
    max-width: 36vw;
    min-height: 8vh;
    max-height: 8vh;
    margin-left: 5%;
  }
  .facebook-word {
    margin-top: 10px;
  }
  .insta-word {
    margin-top: 10px;
  }
  .twitter-word {
    margin-top: 10px;
  }
}
