@import "../../../variables.scss";

.entire-about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 5px solid red;
  width: 100%;
  font-family: $main-font;
}

.about-lua-divider {
  border: 0.2px solid lightgray;
  width: 100%;
}

.about-info-container {
  //   border: 5px solid blue;
  width: 60%;
}

.about-lua-header {
  font-size: 44px;
  margin-top: 72px;
  margin-bottom: 72px;
  font-weight: bold;
}

.about-lua-paragraph {
  font-size: 28px;
  margin-top: 32px;
  line-height: 1.5;
  text-align: left;
}

.about-snippet-div {
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
}

.who-runs-lua-div {
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 10%;
}

.about-lua-mailto {
  text-decoration: none;
  color: $main;
}

.about-lua-resource-list {
  font-weight: lighter;
  font-size: 20px;
}

.who-runs-lua-paragraph {
  font-size: 28px;
  margin-top: 52px;
  line-height: 1.5;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .entire-about-page {
    height: 60%;
    display: flex;
    flex-direction: column;
  }
  .about-lua-header {
    font-size: 42px;
    margin-top: 72px;
    margin-bottom: 52px;
  }
  .about-lua-paragraph {
    font-size: 22px;
    line-height: 1.5;
    margin-top: 52px;
    margin-left: 5%;
  }
  .about-snippet-div {
    // border: 5px solid red;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 32px;
  }
  .about-info-container {
    //   border: 5px solid blue;
    width: 70%;
  }
  .about-lua-resource-list {
    font-weight: lighter;
    font-size: 18px;
  }

  .who-runs-lua-div {
    margin-bottom: 100px;
  }
}
