@import "../../../../variables.scss";

.entire-bottom-navbar {
  z-index: 5;
  border: 3px solid blue;
  background-color: white;
  width: 100%;
  min-height: 90px;
  max-height: 90px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.bottom-navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-navbar-container-1 {
  border: 1px solid red;
  width: 81px;
  padding-top: 10px;
}

.BottomNavbarHomeLogo {
  min-width: 50px;
  max-width: 50px;
  min-height: 40px;
  max-height: 40px;
  padding-bottom: 3px;
  fill: $main;
  //   fill: white;
}

// .BottomNavbarContactIcon {
//   min-width: 50px;
//   max-width: 50px;
//   min-height: 40px;
//   max-height: 40px;
//   padding-bottom: 3px;
//   fill: $main;
// }

.BottomNavbarHomeTextDiv {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 0;
  min-height: 30px;
  max-height: 30px;
}

.bottom-navbar-container-2 {
  border: 1px solid red;
  width: 100px;
}
.bottom-navbar-container-3 {
  border: 1px solid red;
  width: 100px;
}
.bottom-navbar-container-4 {
  border: 1px solid red;
  width: 100px;
}
//USING THIS ONE FOR CONTACT
.bottom-navbar-container-5 {
  border: 1px solid red;
  width: 100px;
}

// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
@media (min-width: 1200px) {
  .entire-bottom-navbar {
    display: none;
  }
}
