@import "../../../../variables.scss";

.entire-bottom-navbar {
  font-family: $main-font;
  font-weight: bold;
  font-size: 12px;
  z-index: 5;
  border-top: 1px solid #d7d7d7;
  background-color: white;
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.bottom-navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 2px;
}

// ALL THE TEXT + FUNCTIONAL CSS FOR THE STARTS HERE
.bottom-navbar-container-1 {
  //   border-right: 1px solid #e8e8e8;
  width: 72px;
  padding-top: 2px;
}

.bottom-navbar-container-1-home {
  color: $main;
  //   border-right: 1px solid #e8e8e8;
  width: 72px;
  padding-top: 10px;
}

.bottom-navbar-links {
  text-decoration: none;
  color: black;
}

// ALL THE ICONS + FUNCTIONAL CSS FOR THEM STARTS HERE
.BottomNavbarIcon- {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: #404040;
}

.BottomNavbarIcon-home {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: $main;
}

.BottomNavbarIcon-job-board {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: $main;
}

.BottomNavbarIcon-blog {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: $main;
}

.BottomNavbarIcon-about {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: $main;
}

.BottomNavbarIcon-contact {
  min-width: 32px;
  max-width: 32px;
  min-height: 44px;
  max-height: 44px;
  fill: $main;
}

.BottomNavbarHomeTextDiv {
  //   border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  //   bottom: 0;
  min-height: 30px;
  max-height: 30px;
}

.BottomNavbarHomeText {
  margin-bottom: 24px;
}

.bottom-navbar-container-2 {
  //   border: 1px solid red;
  width: 100px;
}
.bottom-navbar-container-3 {
  //   border: 1px solid red;
  width: 100px;
}
.bottom-navbar-container-4 {
  //   border: 1px solid red;
  width: 100px;
}
//USING THIS ONE FOR CONTACT
.bottom-navbar-container-5 {
  //   border: 1px solid red;
  width: 100px;
}

// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
// Hides navbar on desktop
@media (min-width: 1200px) {
  .entire-bottom-navbar {
    display: none;
  }
}
